body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

#title {
  font-size: 35px;
  font-weight: bold;
  margin: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

ul {
  margin: 5px;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.divs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#textDiv {
  margin-left: 80px;
  margin-right: 80px;
}

.button,
.inputs,
#selectFilter {
  font-size: 18px;
  background-color: #e7e7e7;
  color: black;
  box-sizing: border-box;
  border: 3px solid #bdbdbd;
  border-radius: 4px;
  padding: 12px 20px;
  margin-left: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  font-family: "Lexend Deca", sans-serif;
}

.button:hover,
.inputs:hover,
#selectFilter:hover {
  background-color: #dbdbdb;
}

.inputs {
  outline: none;
}

.button,
#selectFilter {
  cursor: pointer;
}

.topDiv {
  margin-bottom: 30px;
}

#limDiv {
  display: none;
}

#limit {
  margin: 0;
}

#listDiv {
  display: none;
}
